@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-search {
    background-image: linear-gradient(106.23deg, #f99827, #f95f35 100%);
  }
  .bg-button {
    background-image: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  }

  .bg-unfollow {
    background: transparent;
    border: 2px solid red;
    color: red;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:active {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  @variants hover, focous, valid {
    .bg-input {
      background-image: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
    }
  }
}
